@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Six+Caps&display=swap')

$six-caps: 'Six Caps', sans-serif
$josefin-sans: 'Josefin Sans', sans-serif

$primary: #294336
$secondary: #E6A000
$background: transparent linear-gradient(119deg, #294336 0%, #131F19 100%) 0% 0% no-repeat padding-box

.app
  font-family: $josefin-sans !important

.nav-bar
  background: $background
  box-shadow: none !important

.nav-bar-title
  font-family: $six-caps
  font-size: 23px
  img
    height: 40px
    margin: -11px 10px

.card
  float: left

.masonry
  display: block
